$text-color: #696a6a;
$folowers-text-color: rgb(165, 165, 165);

$profit-color: #4cbca1;
$loss-color: #c23e4e;

$mode-text-color: $text-color;
$mode-icons-background: white;

$top-paper: #f9f9f9;
$top-paper-dark: #00001e;
$bottom-paper: white;
$bottom-paper-dark: #00001d;

$card-background-color: #f5f5fb;
$card-background-color-dark: rgb(1, 1, 30);
$card-background-color-hover: #ededf3;
$card-background-color-hover-dark: rgb(1, 1, 41);

.primary {
  color: $text-color;
}

.profit {
  color: $profit-color;
}
.loss {
  color: $loss-color;
}

