$text-color: #696a6a;
$folowers-text-color: rgb(165, 165, 165);

$profit-color: #4cbca1;
$loss-color: #c23e4e;

$mode-text-color: $text-color;
$mode-icons-background: white;

$top-paper: #f9f9f9;
$buttom-paper: white;

$card-background-color: #f5f5fb;
$card-background-color-hover: #ededf3;

.primary{
    color: $text-color;
}

.profit {
  color: $profit-color;
}
.loss {
  color: $loss-color;
}