@mixin grid-system(
  $gap-px: 10px,
  $grid-columns: 3,
  //or 400px
  $full-height: false,
  //100vh
  $auto-columns: false,
  //if 400px it must be true
  $grid-rows: 100px //(10px, 3, true) or (10px, 400px, true, true)
) {
  display: grid;
  gap: $gap-px;
  @if $auto-columns {
    grid-template-columns: repeat(auto-fit, minmax($grid-columns, 1fr)); //px
  } @else {
    grid-template-columns: repeat($grid-columns, auto); //count
  }

  grid-auto-rows: auto;
  @if $full-height {
    height: 90vh;
  } @else {
    grid-auto-rows: $grid-rows;
  }
}

@mixin default-card {
  margin-top: 50px;
  @include grid-system(25px, 200px, true, true);
  
  width: 100%;
}
