@forward "./modes.scss";
@forward "./papers.scss";
@forward "./social_media.scss";
@forward "./overview.scss";
@forward "./mediaQueries.scss";

.main {
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}




.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.touppercase {
  text-transform: uppercase;
}


