@import "./modes.scss";
@import "./papers.scss";
@import "./social_media.scss";
@import "./overview.scss";
@import "./grid-system.scss";


.main {
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}




.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.touppercase {
  text-transform: uppercase;
}


@import "./mediaQueries.scss";