@use "./colors.scss" as colors;

$height: 25px;

.modes {
  min-width: 210px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mode-icons {
  background-color: colors.$mode-icons-background;
  padding: 2px;
  padding-inline: 6px;
  border-radius: 30%;
  position: relative;
  cursor: pointer;
}
.mode-text {
  color: colors.$mode-text-color;
  font-size: 13px;
  width: 80px;
}
.mode-text-dark {
  color: white;
}
.mode-icon {
  width: 20px;
  height: 20px;
}

.mode-icon:hover {
  /* scale: 1.2;
    transition: scale .2s; */
}

.dark-mode {
}

.light-mode {
}

.circulate {
  border-radius: 50%;
  height: $height;
  width: $height;
  position: absolute;
  z-index: -1;
  background-color: colors.$mode-icons-background;
  top: 1px;
}
.right-circulate {
  right: -2px;
}

.left-circulate {
  left: -2px;
}

.animate-rotate {
  animation: rotateIcon 0.5s linear forwards alternate;
  transition: scale ease-in-out 0.1s, opacity 0.2s;
  &:hover {
    scale: 1.2;
    opacity: 1;
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
.mode-background-select {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(167, 167, 167)
  );
}
.mode-background-dark {
  background-image: linear-gradient(
    to right,
    colors.$top-paper-dark,
    rgb(255, 255, 255)
  );
}
