@use "./colors.scss" as colors;

.papers {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.top-paper {
  width: 100%;
  height: 220px;
  background-color: colors.$top-paper;
}

.bottom-paper {
  position: absolute;
  width: 100%;
  top: 220px;
  bottom: 0;
  background-color: colors.$bottom-paper;
}

.top-paper-dark {
  background-color: colors.$top-paper-dark;
}
.bottom-paper-dark {
  background-color: colors.$bottom-paper-dark;
}
