.papers {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.top-paper {
  width: 100%;
  height: 220px;
  background-color: $top-paper;
}

.bottom-paper {
  position: absolute;
  width: 100%;
  top: 220px;
  bottom: 0;
  background-color: $bottom-paper;
}
