:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #333;

  --mode-text-color: white;
  --mode-icons-background: #AAAAAA;

  --top-paper: #6c757d;
  --buttom-paper: white;
}
