@import "./colors.css";
:root {
  --height: 43px;
}

.modes {
    min-width: 210px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mode-icons {
  background-color: var(--mode-icons-background);
  padding: 5px;
  padding-inline: 10px;
  border-radius: 30%;
  position: relative;
}
.mode-text {
  color: var(--mode-text-color);
}
.mode-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.mode-icon:hover {
  /* scale: 1.2;
    transition: scale .2s; */
}

.dark-mode {
}

.light-mode {
}

.circulate {
  border-radius: 50%;
  height: var(--height);
  width: var(--height);
  position: absolute;
  z-index: -1;
  background-color: var(--mode-icons-background);
  top: 0px;
}
.right-circulate {
    right: -3px;
}

.left-circulate {
    left: -3px;
}
