@import "./colors.css";
@import "./modes.css";
@import "./papers.css";

.main {
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dashboard {
  padding-inline: 12rem;
  padding-top: 2rem;
}

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
